body {
    font-family: Arial, sans-serif;
    background-color: #ababab;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    min-height: 10vw;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 5vw;
}

form {
    background: #fff;
    padding: 1vw;
    margin-top: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5vw;
    font-size: 2.5vw; /* Increase font size */
}

form input[type="text"],
form input[type="file"],
form textarea {
    width: 80%;
    padding: 1vw; /* Increase padding to make the textarea larger */
    margin-bottom: 0.5vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.2vw;
    font-size: 1.5vw; /* Increase font size */
}

form input[type="text"] {
    width: 80%;
    padding: 1vw; /* Increase padding to make the input fields larger */
    margin-bottom: 0.5vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.2vw;
    font-size: 1.5vw; /* Increase font size */
}

form input[type="submit"] {
    display: block;
    width: 50%; /* Increase width to 100% */
    background: #333;
    color: #fff;
    border: 0;
    padding: 1vw; /* Increase padding */
    cursor: pointer;
    border-radius: 0.2vw;
    font-size: 3vw; /* Increase font size */
}

form input[type="submit"]:hover {
    background: #555;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.error {
    color: red;
    text-align: center;
    font-size: 3vw; /* Increase font size */
}

.logo {
    position: absolute;
    left: 1vw;
    width: 20vw;
    height: auto;
    align-items: center; /* Center vertically */
    filter: brightness(0) invert(1); /* Change the color to white */
}